@model IEnumerable<Pdr>


    @foreach (var item in Model)
    {
        var gender = item.PatientNavigation.Gender ? "Male" : "Female";
        var address = item.PatientNavigation.MuncityNavigation.Description;
        var admittingD = item.SymptomsContacts.SymptomsOfPatient.Length > 5 ? new string(item.SymptomsContacts.SymptomsOfPatient.Take(5).ToArray()) + "..." : item.SymptomsContacts.SymptomsOfPatient;
        var qnformExists = item.Qnform.Count() == 0;
        var vs = new string[] { "", "", "", "", "", "","" };
        var nameClass = item.InterviewedBy == null ? "text-warning" : "text-primary";
        Qnform qnform = null;
        var sc = new List<string>();

        var bgColor = item.Attended? "#e85a5a" : "";
        if(item.Qnform.Count() != 0)
        {
            qnform = item.Qnform.OrderByDescending(x=>x.DateChecked).First();
            vs[0] = qnform.DateChecked.ToString();
            vs[1] = qnform.Bp;
            vs[2] = qnform.Hr;
            vs[3] = qnform.Rr;
            vs[4] = qnform.TypeOfFluid;
            vs[5] = qnform.O2sat;
            vs[6] = qnform.Id.ToString();
        }
        if(item.Qdform.Count() != 0)
        {
            var qdform = item.Qdform.OrderByDescending(x => x.DateChecked).First();
            if (qdform.Colds)
                sc.Add("Colds");
            if (qdform.Cough)
                sc.Add("Cough");
            if (qdform.Fever)
                sc.Add("Fever");
            if (qdform.Breathing)
                sc.Add("Difficulty in breathing");
            if (qdform.BodyMuscleJointPain)
                sc.Add("Body/Muscle/Joint Pain");
            if (qdform.Headache)
                sc.Add("Headache");
            if (qdform.Confusion)
                sc.Add("Confusion");
            if (qdform.BluishFingers)
                sc.Add("Bluish fingers");
            if (qdform.BluishLips)
                sc.Add("Bluish lips");
            if (qdform.MentalDistress)
                sc.Add("Signs of mental distress");
            if (qdform.SoreThroat)
                sc.Add("Sore throat");
            if (qdform.Diarrhea)
                sc.Add("Diarrhea");
            if (!string.IsNullOrEmpty(qdform.OtherDetails))
                sc.Add(qdform.OtherDetails);
        }

        <tr style="background-color: @bgColor">
            <td class="text-center">
                <div class="btn-group dropleft" style="cursor: pointer;">
                    <a class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @item.BedNumber
                    </a>
                    <div class="dropdown-menu" x-placement="left-start" style="position: absolute; transform: translate3d(-2px, 0px, 0px); top: 0px; left: 0px; will-change: transform; max-height: 200px; overflow-y: auto;">
                        <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'PDRModal', 'Home');">PDR</a>
                        @if (User.FindFirstValue("Position") == "Doctor")
                        {
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QDForm', 'Home');">QF-Doctor</a>
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'AddLabResult', 'Home');">Add lab result</a>
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'AddOrder', 'NurseForms');">Add Doctor's orders</a>
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'Attention', 'Home')">Attention</a>
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'ReferralForm', 'Home');">Refer</a>
                            <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'DischargeForm', 'Home');">Discharge</a>
                        }
                        <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QNForm', 'Home');">QF-Nurse</a>
                        <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QFNOverview', 'NurseForms');">QF-Nurse Overview</a>
                        <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'ViewOrders', 'NurseForms');">View Doctor's orders</a>

                        @if (item.Attended)
                        {
                            <a class="dropdown-item" style="cursor: pointer;" onclick="Attended('@item.Id');">Attended</a>
                        }
                    </div>
                </div>
            </td>
            <td class="text-center">
                @item.PatientNavigation.GetFullName()
            </td>
            <td class="text-center">@item.PatientNavigation.Age</td>
            <td class="text-center">@gender</td>
            <td class="text-center">@item.PatientNavigation.MuncityNavigation.Description</td>
            <td class="text-center" title="@item.SymptomsContacts.SymptomsOfPatient">@admittingD</td>
            <td class="text-center">@item.DateOfAdmission.ToString()</td>
            <td class="text-center" style="cursor: pointer;" onclick="OpenForm('@vs[6]','UpdateQnForm')">@vs[0]</td>
            <td class="text-center">@vs[1]</td>
            <td class="text-center">@vs[2]</td>
            <td class="text-center">@vs[3]</td>
            <td class="text-center">@vs[4]</td>
            <td class="text-center">@vs[5]</td>
            <td class="text-center">
            @if(item.Qdform.Count() != 0)
            {
                <select class="form-control" style="width: 190px;">
                    <option>view complaints</option>
                    @foreach (var subcom in sc)
                    {
                        <option >@subcom</option>
                    }
                </select>
            }
            else
            {
                <span>None</span>
            }

            </td>
            @*
            <td class="text-center">pertinent PE</td>
            <td class="text-center">Request</td>
            <td class="text-center">result result</td>*@
            <td class="text-center">
                <select class="form-control">
                    @if (item.PatientNavigation.Medications.Where(x => x.CreatedAt.Date == DateTime.Now.Date).Count() != 0)
                    {
                        <option>View meds</option>
                        foreach (var med in item.PatientNavigation.Medications.Where(x => x.CreatedAt.Date == DateTime.Now.Date))
                        {
                            <option>@med.MedName : @med.CreatedAt.ToString("HH:mm")</option>
                        }
                    }
                    else
                    {
                        <option>None</option>
                    }
                </select>
            </td>
            <td class="text-center">@item.ReferringFacility</td>
            <td class="text-center">other remarks, many remarks</td>
        </tr>

    }

<script>
    $('.total_number').html('@ViewBag.Total');
    
    console.log('1');
</script>