@model List<Pdr>


@if (Model.Count() != 0)
{
    <table class="table table-list table-striped dashboard">
        <thead>
            <tr>
                <th class="text-center">Bed #</th>
                <th class="text-center">Name </th>
                <th class="text-center">Age </th>
                <th class="text-center">Sex </th>
                <th class="text-center">City/Municipality</th>
                <th class="text-center">Chief Complaints</th>
                <th class="text-center">Date & Time of Admission</th>
            </tr>
        </thead>
        <tbody id="dashboard_table" style="height: 350px; overflow: auto;">
            @foreach (var item in Model)
            {
                var gender = item.PatientNavigation.Gender ? "Male" : "Female";
                var address = item.PatientNavigation.MuncityNavigation.Description;
                var admittingD = item.SymptomsContacts.SymptomsOfPatient.Length > 5 ? new string(item.SymptomsContacts.SymptomsOfPatient.Take(5).ToArray()) + "..." : item.SymptomsContacts.SymptomsOfPatient;
                var nameClass = item.InterviewedBy == null ? "text-warning" : "text-primary";

                var bgColor = item.Attended ? "#e85a5a" : "";

                <tr style="background-color: @bgColor">
                    <td class="text-left">
                        <div class="btn-group dropleft" style="cursor: pointer;">
                            <a class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @item.BedNumber
                            </a>
                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(-2px, 0px, 0px); top: 0px; left: 0px; will-change: transform; max-height: 210px; overflow-y: auto;">
                                <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'PDRModal', 'Home');">PDR</a>
                                @if (User.FindFirstValue("Position") == "Doctor")
                                {
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QDForm', 'Home');">QF-Doctor</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'AddLabResult', 'Home');">Add lab result</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'AddOrder', 'NurseForms');">Add Orders</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'Attention', 'Home')">Attention</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'ViewOrders', 'NurseForms');">View Doctor's orders</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QDFormOverview', 'NurseForms');">QD Form Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QFNOverview', 'NurseForms');">VS Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'MedicationOverview', 'NurseForms');">Meds Overview</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'ReferralForm', 'Home');">Refer</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'DischargeForm', 'Home');">Discharge</a>
                                }
                                @if (User.FindFirstValue("Position") == "Nurse")
                                {
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QNForm', 'Home');">Add VS</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'AddMedication', 'NurseForms');">Add Medication</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'QFNOverview', 'NurseForms');">VS Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'MedicationOverview', 'NurseForms');">Meds Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@item.Id', 'ViewOrders', 'NurseForms');">View Doctor's orders</a>

                                }

                                @if (item.Attended)
                                {
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="Attended('@item.Id');">Attended</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        @item.PatientNavigation.GetFullName()
                    </td>
                    <td class="text-center">@item.PatientNavigation.Age</td>
                    <td class="text-center">@gender</td>
                    <td class="text-center">@item.PatientNavigation.MuncityNavigation.Description</td>
                    <td class="text-center" title="@item.SymptomsContacts.SymptomsOfPatient">@admittingD</td>
                    <td class="text-center">@item.DateOfAdmission.GetDate("dd/MM/yyyy hh:mm tt")</td>
                </tr>

            }
        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning">
        <span>
            <i class="fa fa-exclamation-triangle"></i> No patients found!
        </span>
    </div>
}