@model Referral

@{
    var gender = Model.Pdr.PatientNavigation.Gender ? "Male" : "Female";
}

<div class="modal fade" id="ReferralModal" autoscroll="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <i class="fa fa-user-md"></i>
                    &nbsp;Referral to Tertiary Hospital
                </h4>


                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ReferralForm">
                    <input type="hidden" asp-for="Pdrid" />
                    <!-- REFER -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading"><strong style="color: cornflowerblue;font-size:small;">Refer</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="datetime-local" asp-for="DateOfReferral" class="form-control" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <input type="text" asp-for="ReferringQuarantineFacility" class="form-control" placeholder="Referring Quarantine Facility" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" asp-for="ReferredTo" class="form-control" placeholder="Referred to" />
                        </div>
                    </div>
                    <!-- PATIENT -->
                    <div class="row">
                        <div class="panel-heading"><strong style="color: cornflowerblue;font-size:small;">Patient</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p style="font-size:medium;"><strong>Name:</strong> @Model.Pdr.PatientNavigation.GetFullName()</p>
                        </div>
                        <div class="col-md-2">
                            <p style="font-size:medium;"><strong>Age:</strong> @Model.Pdr.PatientNavigation.Age</p>
                        </div>
                        <div class="col-md-2">
                            <p style="font-size:medium;"><strong>Sex:</strong> @gender</p>
                        </div>
                        <div class="col-md-4">
                            <p style="font-size:medium;"><strong>Contact No:</strong> @Model.Pdr.PatientNavigation.ContactNumber</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:medium;"><strong>Address:</strong> @Model.Pdr.PatientNavigation.GetAddress()</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:medium;"><strong>Date of Admission:</strong> @Model.Pdr.DateOfAdmission</p>
                        </div>
                    </div>
                    <!-- GUARDIAN -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading"><strong style="color: cornflowerblue;font-size:small;">Guardian</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="font-size:medium;"><strong>Name:</strong> @Model.Pdr.GuardianNavigation.GetFullName()</p>
                        </div>
                        <div class="col-md-6">
                            <p style="font-size:medium;"><strong>Contact No.:</strong> @Model.Pdr.GuardianNavigation.ContactNumber</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:medium;"><strong>Address:</strong> @Model.Pdr.GuardianNavigation.GetAddress()</p>
                        </div>
                    </div>
                    <!-- FINDINGS -->
                    <div class="row">
                        <div class="panel-heading"><strong style="color: cornflowerblue;font-size:small;">Findings</strong></div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="PertinentFindings" rows="3" placeholder="Pertinent Findings"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="Diagnosis" rows="3" placeholder="Diagnosis"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="Reason" rows="3" placeholder="Reason for referral"></textarea>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            Referred By:
                            <select class="form-control" asp-for="ReferredBy" asp-items="ViewBag.Doctors">
                                <option value="">Select Doctor</option>
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    @if (ViewBag.Errors != null)
                    {
                        <div class="row">
                            <div class="col-sm-12 center" style="align-content:center">
                                <span class="text-danger">Please input the required fields.</span>
                            </div>
                        </div>
                    }
                </form>
                
                <!--SUBMIT BUTTON-->
                <div class="col-sm-12" align="center" style="padding:10px">
                    <div class="col-sm-4" align="right">
                        <button class="btn btn-block btn-primary" data-save="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>