@model ViewOrdersModel


<div class="modal fade" id="attention" style="font-size: 14px; font-weight:500;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content clearfix">
            <div class="modal-header">
                <h4>Doctor's Orders/Prescription for @ViewBag.CaseNo</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ViewOrders">
                    <table class="table fixed test-table" width="100%">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 30%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    DATE & TIME
                                </th>
                                <th>
                                    ORDERS/PRESCRIPTION
                                </th>
                                <th>
                                    C
                                </th>
                                <th>
                                    A
                                </th>
                                <th>
                                    R
                                </th>
                                <th>
                                    E
                                </th>
                                <th>
                                    D
                                </th>
                                <th>
                                    TIME POSTED
                                </th>
                                <th>
                                    SIGNATURE
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Orders.Count() != 0)
                            {
                                for (int x = 0; x < Model.Orders.Count(); x++)
                                {
                                    var row = Model.Orders[x].ListDocOrders.Count() + 1;
                                    <tr>
                                        <td rowspan="@row">
                                            <input hidden asp-for="Orders[x].PdrId" />
                                            <input hidden asp-for="Orders[x].Id" />
                                            <input hidden asp-for="Orders[x].DateOrdered" />
                                            <input hidden asp-for="Orders[x].Comments" />
                                            <span>@Model.Orders[x].DateOrdered.ToString("dd/MM/yyyy HH:mm")</span><br />
                                            @if (!string.IsNullOrEmpty(Model.Orders[x].Comments))
                                            {
                                                <a href="#">comments</a>
                                                <pre class="toggle" id="comments_@x" style="white-space: pre-line">@Model.Orders[x].Comments</pre>

                                            }
                                        </td>
                                    </tr>
                                    @for(int y = 0; y < Model.Orders[x].ListDocOrders.Count(); y++)
                                    {
                                        <tr>
                                            <td style="padding: 0px !important;">
                                                <input hidden asp-for="Orders[x].ListDocOrders[y].Id" />
                                                <input hidden asp-for="Orders[x].ListDocOrders[y].DoctorOrderId" />
                                                <input hidden asp-for="Orders[x].ListDocOrders[y].CreatedAt" />
                                                <input hidden asp-for="Orders[x].ListDocOrders[y].DoctorsOrder" />
                                                <pre style="white-space: pre-line">@Model.Orders[x].ListDocOrders[y].DoctorsOrder</pre>
                                                @*if (User.FindFirstValue("Position") == "Doctor")
                                                {
                                                    var length = Model.Orders[x].ListDocOrders[y].DoctorsOrder.Length;
                                                    if (length < 50)
                                                    {
                                                        <textarea style="height: 100%; width: 100%; font-size: medium!important; border: none;" rows="3" id="order_@x-@y" asp-for="Orders[x].ListDocOrders[y].DoctorsOrder"></textarea>
                                                    }
                                                    else
                                                    {
                                                        <textarea style="height: 100%; width: 100%; font-size: medium!important; border: none;" rows="1" id="order__@x-@y" asp-for="Orders[x].ListDocOrders[y].DoctorsOrder"></textarea>
                                                    }

                                                }
                                                else
                                                {
                                                    <input hidden asp-for="Orders[x].ListDocOrders[y].DoctorsOrder" />
                                                    <pre style="white-space: pre-line">@Model.Orders[x].ListDocOrders[y].DoctorsOrder</pre>
                                                }*@
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="Orders[x].ListDocOrders[y].Carried" id="c_@x-@y" value="true" />
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="Orders[x].ListDocOrders[y].Administered" id="a_@x-@y" value="true" />
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="Orders[x].ListDocOrders[y].RequestMade" id="r_@x-@y" value="true" />
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="Orders[x].ListDocOrders[y].Endorsed" id="e_@x-@y" value="true" />
                                            </td>
                                            <td>
                                                <input type="checkbox" asp-for="Orders[x].ListDocOrders[y].Discontinued" id="d_@x-@y" value="true" />
                                            </td>
                                            @if(y == 0)
                                            {
                                                <td>
                                                    <input class="form-control text-xs" asp-for="Orders[x].TimePosted" type="datetime-local" />
                                                </td>
                                                <td>
                                                    <select class="form-control text-xs" asp-for="Orders[x].Signature" asp-items="ViewBag.Nurses">
                                                        <option value="" hidden selected>Select nurse</option>
                                                    </select>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">No Orders</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
                @if (ViewBag.Errors != null)
                {
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 center" style="align-content:center">
                            <span class="text-danger">Please input the required fields.</span>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-success fa-pull-right" data-save="modal">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var x = 0;
    $(function () {
        $(".test-table td a").click(function () {
            console.log(this.nextElementSibling.getAttribute("id"));
            $('#' + this.nextElementSibling.getAttribute("id")).toggle();
        });
    });

</script>