@model ViewOrdersModel


<div class="modal fade" id="attention" style="font-size: 14px; font-weight:500;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content clearfix">
            <div class="modal-header">
                <h4>Doctor's Orders/Prescription for @ViewBag.CaseNo</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ViewOrders">
                    <table class="table fixed test-table" width="100%">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 30%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    DATE & TIME
                                </th>
                                <th>
                                    ORDERS/PRESCRIPTION
                                </th>
                                <th>
                                    C
                                </th>
                                <th>
                                    A
                                </th>
                                <th>
                                    R
                                </th>
                                <th>
                                    E
                                </th>
                                <th>
                                    D
                                </th>
                                <th>
                                    TIME POSTED
                                </th>
                                <th>
                                    SIGNATURE
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Orders.Count() != 0)
                            {
                                for (int x = 0; x < Model.Orders.Count(); x++)
                                {
                                    <tr>
                                        <td>
                                            <input hidden asp-for="Orders[x].PdrId" />
                                            <input hidden asp-for="Orders[x].Id" />
                                            <input hidden asp-for="Orders[x].DateOrdered" />
                                            <input hidden asp-for="Orders[x].Comments" />
                                            <span>@Model.Orders[x].DateOrdered.ToString("dd/MM/yyyy HH:mm")</span><br />
                                            @if (!string.IsNullOrEmpty(Model.Orders[x].Comments))
                                            {
                                                <a href="#">comments</a>
                                                <pre class="toggle" id="comments" style="white-space: pre-line">@Model.Orders[x].Comments</pre>

                                            }
                                        </td>
                                        <td style="padding: 0px !important;">
                                            @if (User.FindFirstValue("Position") == "Doctor")
                                            {
                                                var length = Model.Orders[x].Orders.Length;
                                                var row = length > 50 ? Math.Ceiling(length * 0.04) : 2;
                                                <textarea style="height: 100%; width: 100%; font-size: medium!important; border: none;" rows="@row" asp-for="Orders[x].Orders"></textarea>
                                            }
                                            else
                                            {
                                                <input hidden asp-for="Orders[x].Orders" />
                                                <pre style="white-space: pre-line">@Model.Orders[x].Orders</pre>
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" asp-for="Orders[x].Carried" id="c_@x" value="true" />
                                        </td>
                                        <td>
                                            <input type="checkbox" asp-for="Orders[x].Administered" id="a_@x" value="true" />
                                        </td>
                                        <td>
                                            <input type="checkbox" asp-for="Orders[x].RequestMade" id="r_@x" value="true" />
                                        </td>
                                        <td>
                                            <input type="checkbox" asp-for="Orders[x].Endorsed" id="e_@x" value="true" />
                                        </td>
                                        <td>
                                            <input type="checkbox" asp-for="Orders[x].Discontinued" id="d_@x" value="true" />
                                        </td>
                                        <td>
                                            <input class="form-control text-sm" type="datetime-local" id="timePosted_@x" asp-for="Orders[x].TimePosted" />
                                        </td>
                                        <td>
                                            <select class="form-control" asp-for="Orders[x].Signature" id="signature_@x" asp-items="ViewBag.Nurses" required>
                                                <option value="">Select nurse</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">No Orders</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
                @if (ViewBag.Errors != null)
                {
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 center" style="align-content:center">
                            <span class="text-danger">Please input the required fields.</span>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-success fa-pull-right" data-save="modal">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var x = 0;
    $(function () {
        $(".test-table td a").click(function () {
            $('#comments').toggle();
        });
    });

</script>