@model PageListModel

@if (Model.TotalPages > 1)
{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var between = false;
    var stringQuery = Model.Parameters;
    var index = Model.Parameters;
    <ul class="pagination" style="margin-left:auto; margin-right:auto; white-space:normal !important">
        <li>
            @{
                Model.Parameters["page"] = (Model.PageIndex - 1).ToString();
                var url = "search=" + Model.Parameters["search"] + "&page=" + Model.Parameters["page"];
            }
            <a class="btn btn-default @prevDisabled" onclick="LoadDashboard('@url')">
                «
            </a>
        </li>
        @for (int x = 1; x <= Model.TotalPages; x++)
        {
            index["page"] = x.ToString();
            url = "search=" + Model.Parameters["search"] + "&page=" + index["page"];
            var activeClass = x == Model.PageIndex ? "btn-primary" : "btn-default";
            if (Model.TotalPages > 10)
            {
                if (Model.PageIndex < 8)
                {
                    if (x < 9)
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                    else if (x == 9 && !between)
                    {
                        between = !between;
                        <li>
                            <a class="btn btn-default link-muted" style="cursor:not-allowed;">
                                ...
                            </a>
                        </li>
                    }
                    else if (x > (Model.TotalPages - 2))
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                }
                else if (Model.PageIndex >= (Model.TotalPages - 6))
                {
                    if (x < 3)
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                    else if (x == 3 && !between)
                    {
                        between = !between;
                        <li>
                            <a class="btn btn-default link-muted" style="cursor:not-allowed;">
                                ...
                            </a>
                        </li>
                    }
                    else if (x > (Model.TotalPages - 9))
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                }
                else if (Model.PageIndex >= 8 && (Model.TotalPages - 4) >= Model.PageIndex)
                {
                    if (x < 3)
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                    else if (x == 3 || x == (Model.TotalPages - 3))
                    {
                        <li>
                            <a class="btn btn-default link-muted" style="cursor:not-allowed;">
                                ...
                            </a>
                        </li>
                    }
                    else if (x >= (Model.PageIndex - 3) && x <= (Model.PageIndex + 3))
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                    else if (x >= (Model.TotalPages - 1))
                    {
                        <li>
                            <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                                @x
                            </a>
                        </li>
                    }
                }
            }
            else
            {
                <li>
                    <a class="btn @activeClass" onclick="LoadDashboard('@url')">
                        @x
                    </a>
                </li>
            }
        }
        <li>
            @{
                Model.Parameters["page"] = (Model.PageIndex + 1).ToString();
                url = "search=" + Model.Parameters["search"] + "&page=" + Model.Parameters["page"];
            }
            <a class="btn btn-default @nextDisabled" onclick="LoadDashboard('@url')">
                »
            </a>
        </li>
    </ul>
}

<script>

</script>