@model IEnumerable<Pdr>

@foreach(var patient in Model)
{
    <div class="card">
        <div class="card-header">
            <h4>@patient.PatientNavigation.GetFullName()</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    List of Meds
                    <div class="list-group" style="max-height: 200px; overflow: auto;">
                        @foreach (var item in patient.PatientNavigation.Medications.GroupBy(x => x.MedName))
                        {
                            <a class="list-group-item" id="@patient.Patient" style="cursor: pointer;" onclick="ChangeName('@patient.Patient','@item.Key')">
                                @item.Key
                            </a>
                        }
                    </div>
                </div>
                <div class="col-md-8">
                    Medication History
                    <div class="list-group" style="max-height: 200px; overflow: auto;">
                        @foreach (var history in patient.PatientNavigation.Medications.OrderBy(x => x.CreatedAt))
                        {
                            <a class="list-group-item" style="cursor: pointer;" onclick="EditMedHistory('@history.Id');">
                                <span class="title-info">@history.Day | @history.MedName</span><br />
                                <small>@history.CreatedAt.GetDate("dd/MM/yyyy hh:mm tt")</small>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}